* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 16px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(17, 25, 40, 0.5);
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("./bg.jpg");
  color: white;
}

.container {
  width: 90vw;
  height: 90vh;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  background-color: rgba(17, 25, 40, 0.75);
  backdrop-filter: blur(18px) saturate(180%);
  display: flex;
}

.loading {
  padding: 50px;
  font-size: 40px;
  font-weight: 500;
  border-radius: 10px;
  background-color: rgba(17, 25, 40, 0.9);
}
